        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #ddd;
            padding-bottom: 10px;
        }
        nav a {
            margin: 0 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: none;
        }

        nav a:visited{
            text-decoration: none;
        }
        .logout-button {
            background-color: #5f5fc4;
            color: white;
            border: none;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .logout-button:hover {
            background-color: #4c4ca1;
        }
        .project-list {
            margin-top: 20px;
        }
        .project-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .project-card h3 {
            margin: 0;
        }
        .project-info {
            text-align: left;
            font-size: 14px;
        }
        .add-project {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #bbb;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            text-align: center;
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .add-project:hover {
            background-color: #f2f2f2;
        }

        button {
            padding: 10px 20px;
            background-color: #ff0000; /* Change color as desired */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        button:hover {
            background-color: #b13535; /* Darker shade for hover effect */
        }