<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} Page d'accueil {% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>

  <body>
    <!-- Pour les messages Flash -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <h1>Page d'accueil</h1>

    <p>Bonjour! Bienvenue sur notre site.</p>
    <form
      action="{{ url_for('profil') }}"
      method="post"
      style="display: inline"
    >
      <button type="submit">Profil</button>
    </form>
    <form
      action="{{ url_for('logout') }}"
      method="post"
      style="display: inline"
    >
      <button type="submit">Se déconnecter</button>
    </form>
  </body>
</html>
