<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employés</title>
    <link rel="stylesheet" href="../static/css/employes.css" />
  </head>
  <body>
    <header>
      <h1>EMPLOYÉS</h1>
      <nav>
        <a href="employes">Employés</a>
        <a href="listeProjets">Projets</a>
        <a href="profil">Profil</a>
      </nav>
    </header>

    <div class="employee-list">
      <!-- Button to add a new employee -->
      <a href="{{ url_for('inscription') }}">
        <div class="add-button">+</div>
      </a>
      {% for employe in employes %}
      <!-- Employee card template -->
      <div class="employee-card">
        <div class="employee-avatar">👤</div>
        <div class="employee-details">
          <div class="employee-info">
            <p>Prenom: {{ employe[0] }}</p>
            <p>Nom: {{ employe[1] }}</p>
          </div>
          <div class="employee-info">
            <p>Courriel: {{ employe[2] }}</p>
            <p>Telephone: {{ employe[3] }}</p>
          </div>
          <div class="employee-info">
            <p>
              Rôle: {% if employe[4] == 1 %} Administrateur {% elif employe[4]
              == 2 %} Chef de projet {% elif employe[4] == 3 %} Employé {% endif
              %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- Add more employee cards as needed -->
    </div>
  </body>
</html>
