<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projets</title>
    <link rel="stylesheet" href="../static/css/listeProjets.css" />
</head>
<body>
    <header>
        <h1>PROJETS</h1>
        <div>
            <nav>
                <a href="employes">Employés</a>
                <a href="listeProjets">Projets</a>
                <a href="profil">Profil</a>
                <a href="/logout" class="logout-button">Se déconnecter</a>
            </nav>
        </div>
    </header>


    <div class="add-project">+</div>


    <div class="project-list">
        <div class="project-card">
            <a href="{{ url_for('projet') }}">
                <h3>Projet 1: Développement Gestionnaire de Projet et de Temps</h3>
            </a>
            <div class="project-info">
                <p>Gestionnaire: Mayatta Ndiaye</p>
                <p>Client: Mikael Brassard</p>
                <p>Début: 24-10-2024</p>
                <p>Fin: 17-12-2024</p>
            </div>
        </div>

        <div class="project-card">
            <a href="{{ url_for('projet') }}">
            <h3>Projet 2: Cuisiner Biscuits</h3>
        </a>
            <div class="project-info">
                <p>Gestionnaire: Antoine Methot</p>
                <p>Client: Mikael Brassard</p>
                <p>Début: 24-10-2024</p>
                <p>Fin: 24-10-2024</p>
            </div>
        </div>

        <div class="project-card">
            <a href="{{ url_for('projet') }}">
            <h3>Projet 3: Graduer le Bac</h3>
        </a>
            <div class="project-info">
                <p>Gestionnaire: Maxime Simard</p>
                <p>Client: Mikael Brassard</p>
                <p>Début: 26-08-2021</p>
                <p>Fin: 30-05-2025</p>
            </div>
        </div>

        <div class="project-card">
            <a href="{{ url_for('projet') }}">
            <h3>Projet 4: Pas couler mes cours</h3>
        </a>
            <div class="project-info">
                <p>Gestionnaire: Antoine Methot</p>
                <p>Client: Mikael Brassard</p>
                <p>Début: 26-08-2024</p>
                <p>Fin: 30-05-2025</p>
            </div>
        </div>
    </div>
</body>



    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
