<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil</title>
    <link rel="stylesheet" href="../static/css/profil.css" />
  </head>
  <body>
    <header>
      <h1>PROFIL</h1>
      <nav>
        <a href="employes">Employés</a>
        <a href="listeProjets">Projets</a>
        <a href="profil">Profil</a>
        <a href="/logout" class="logout-button">Se déconnecter</a>
      </nav>
    </header>

    <div class="profile-container">
      <div class="profile-picture">
        <span>👤</span>
      </div>
      <div class="profile-info">
        <form method="POST" action="/update_profile">
          <label for="prenom">Prenom</label>
          <input type="text" id="prenom" name="prenom" value="{{ user[0]['emp_prenom'] }}" />

          <label for="nom">Nom</label>
          <input type="text" id="nom" name="nom" value="{{ user[0]['emp_nom'] }}" />

          <label for="courriel">Courriel</label>
          <input type="email" id="courriel" name="courriel" value="{{ user[0]['emp_courriel'] }}" />

          <label for="telephone">Telephone</label>
          <input type="tel" id="telephone" name="telephone" value="{{ user[0]['emp_telephone'] }}" />
          {% if session.get('role') == 1 %}
          <label for="role">Rôle</label>
          <input type="text" id="role" name="role" value="{{ user[0]['emp_role_id'] }}"/>
          {% endif %}
          <button type="submit" class="save-button">SAVE</button>
        </form>
      </div>
    </div>
  </body>
</html>
